# binaries, backups

*~
*.o
*.a
*.la
*.lai
*.so*
*.obj
*.ncb
*.aux
*.log
*.bak
*.old
*.dvi
*.dmg
*.backup
*.lo
*.pyc
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.out
*.log
*.exe
*.swp
*.orig
\#*
.\#*

# autotools noise

config.status
autom4te.cache/*
*Makefile.in
aclocal.m4
config.guess
config.sub
config.h
config.log
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
libtool
stamp-h1
stamp-h*

# fuse build output

fuse/libs
fuse/obj
fuse28/libs
fuse28/obj
fuse29/libs
fuse29/obj

# rlog source

rlog/rlog-*

# boost source

boost/boost_*

# openssl source

openssl/openssl-*

# protobuf source

protobuf/protobuf-*

# tinyxml source

tinyxml/tinyxml*

# encfs source

encfs-1.7.4/encfs-1*

# encfs svn build

encfs-svn/build
encfs-svn/build-aux
encfs-svn/m4
!encfs-svn/m4/Makefile.am
!encfs-svn/m4/ax_ext_check_header.m4
!encfs-svn/m4/ax_ext_have_lib.m4
!encfs-svn/m4/ax_pthread.m4
encfs-svn/config.h.in
encfs-svn/autom4te.cache
encfs-svn/po/Makevars.template
encfs-svn/armeabi
encfs-svn/armeabi-v7a
encfs-svn/encfs.spec
encfs-svn/encfs/.deps/
encfs-svn/encfs/config.pb.cc
encfs-svn/encfs/config.pb.h
encfs-svn/encfs/encfs
encfs-svn/encfs/encfs-man.html
encfs-svn/encfs/encfs.1
encfs-svn/encfs/encfsctl
encfs-svn/encfs/encfsctl.1
encfs-svn/encfs/makeKey
encfs-svn/encfs/pod2htmd.tmp
encfs-svn/encfs/pod2htmi.tmp
encfs-svn/encfs/test
encfs-svn/makedist2.sh
encfs-svn/po/POTFILES

# tc source

tc/truecrypt-*
tc/TrueCrypt*

# wx source

wx/wxWidgets*

# build output directories

cryptonite/assets
cryptonite/assets/*
cryptonite/bin
cryptonite/bin/*
cryptonite/gen
cryptonite/gen/*
cryptonite/libs
cryptonite/libs/*
cryptonite/obj
cryptonite/obj/*
cryptonite/tests/bin
cryptonite/tests/bin/*
cryptonite/tests/gen
cryptonite/tests/gen/*
cryptonite/tests/libs
cryptonite/tests/libs/*
cryptonite/tests/obj
cryptonite/tests/obj/*

# various

.DS_Store
.AppleDouble

.classpath
local.properties
proguard-project.txt
commit.sh

cryptonite/jni/android_key.h*
cryptonite/jni/encrypt
cryptonite/AndroidManifest.xml.key*
