[submodule "fuse293/jni"]
	path = fuse293/jni
	url = https://github.com/neurodroid/android-platform-external-libfuse.git
[submodule "encfs-1.8.1/encfs"]
	path = encfs-1.8.1/encfs
	url = git://github.com/neurodroid/encfs.git
	branch = v1.8.1-android
